@import "normalize.css";
@import "./variables/global.css";
@import "./themes/dark.css";
@import "./themes/light.css";
@import "./themes/bacterium.css";

@font-face {
	src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
}

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	background-color: var(--bg-color);
	height: 100vh;
}

.app-layout {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: var(--navbar-height);
}

.app-suspense-loader {
	grid-column: span 2;
	grid-row: 2;
}

svg {
	min-width: 1em;
}

*::-webkit-scrollbar {
	width: 12px;               /* ширина scrollbar */
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--bg-color);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-inverted);    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 2px solid var(--bg-color);  /* padding вокруг плашки */
}
