@import "normalize.css";
@import "./variables/global.css";
@import "./themes/dark.css";
@import "./themes/light.css";

.app {
	font: var(--font-m);
	background-color: var(--bg-color);
	color: var(--primary-color);
	height: 100vh;
}

.app-layout {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: var(--navbar-height);
}

.app-suspense-loader {
	grid-column: span 2;
	grid-row: 2;
}
