# MacOs
.DS_Store

# WebStorm
.idea

# VSCode
.vscode

# Project
node_modules
/build
/dist

# Jest
/coverage

# Storybook
/storybook-static

# Loki
.loki/current
.loki/difference
.loki/report.json
.loki/report.html

# Canceled GH Actions
/.github

# Test reports
/reports/unit
