.portalLayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	inset: 0;
}

.modal {
	display: flex;
	flex-direction: column;
	grid-row-gap: 1em;
	border-radius: 1em;
	overflow: auto;
	background-color: var(--bg-color);
	z-index: 3;
	min-width: 400px;
	padding: 1.25em;
}

.header {
	display: flex;
	justify-content: space-between;
	font-family: inherit;
}

/* Animation */

._contentAppear {
	opacity: 0;
	transform: scale(0.1);
}

._contentAppearActive {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
	transition-delay: 500ms;
}

._contentExit {
	opacity: 1;
	transform: scale(1);
}

._contentExitActive {
	opacity: 0;
	transform: scale(0.1);
	transition: opacity 300ms, transform 300ms;
}

._overlayAppearActive {
	animation: unfold-in 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

._overlayExitActive {
	animation: unfold-out 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfold-in {
	0% {
		transform: scaleY(0.005) scaleX(0);
	}

	50% {
		transform: scaleY(0.005) scaleX(1);
	}

	100% {
		transform: scaleY(1) scaleX(1);
	}
}

@keyframes unfold-out {
	0% {
		transform: scaleY(1) scaleX(1);
	}

	50% {
		transform: scaleY(0.005) scaleX(1);
	}

	100% {
		transform: scaleY(0.005) scaleX(0);
	}
}
