.button {
	color: var(--primary-color);
	border-color: var(--primary-color);
	background-color: var(--secondary-color);
	padding: 0.5em 1.33em;
	border: 1px solid;
	cursor: pointer;
}

.button:disabled {
	opacity: 0.5;
}

.inverted {
	color: var(--primary-color-inverted);
	border-color: var(--primary-color-inverted);
	background-color: var(--primary-color-inverted);
}

.default {
	border-color: #ced4da;
	color: #000;
	background: none;
}

.default.inverted {
	color: #fff;
}

.filled {
	color: #fff;
	border: none;
}

.subtle {
	border: none;
	background: none;
}

.outline {
	background: none;
}

.compact {
	padding: 0.25em 0.665em;
}

.uppercase {
	text-transform: uppercase;
}

.lg {
	font: var(--font-l);
}

.md {
	font: var(--font-m);
}

.sm {
	font: var(--font-s);
}

.radiusSm {
	border-radius: var(--radius-s);
}

.radiusMd {
	border-radius: var(--radius-m);
}

.radiusLg {
	border-radius: var(--radius-l);
}

.square {
	border-radius: 0;
	padding: 0;
	width: 3em;
	height: 3em;
	background-color: var(--bg-color);
	display: grid;
	justify-content: center;
	align-content: center;
}

.square.inverted {
	background-color: var(--bg-color-inverted);
}
