.sidebar {
	background-color: var(--bg-color-inverted);
	width: var(--sidebare-width);
	transition: width 200ms;
	display: grid;
	padding: 1em;
}

.sidebarContent {
	position: sticky;
	top: 2em;
	display: grid;
	height: calc(95vh - var(--navbar-height));
}

.collapsed {
	width: var(--sidebare-width-collapsed);
}

.navigateLinks {
	display: grid;
	grid-auto-rows: max-content;
	grid-row-gap: 0.8em;
}

.collapsed .navigateLinks {
	justify-content: center;
}

.collapseBtn {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50px;
	transition: transform 200ms;
	transform: translate(400%, -100%);
}

.collapsed .collapseBtn {
	transform: translate(100%, -100%);
}

.switchers {
	margin-top: auto;
	margin-bottom: 2em;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	justify-items: center;
}

.collapsed .switchers {
	grid-auto-flow: row;
}
