.sidebar {
	background-color: var(--bg-color-inverted);
	width: var(--sidebare-width);
	transition: width 200ms;
	position: relative;
	display: grid;
	padding: 1em;
}

.collapsed {
	width: var(--sidebare-width-collapsed);
}

.navigateLinks {
	display: grid;
	grid-auto-rows: max-content;
	grid-row-gap: 0.8em;
}

.collapsed .navigateLinks {
	justify-content: center;
}

.collapseBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(100%, -100%);
}

.switchers {
	margin-top: auto;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	justify-items: center;
}

.collapsed .switchers {
	grid-auto-flow: row;
}
