.wrapper {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-column-gap: 1em;
	align-items: center;
}

.wrapper:not(.withLabel) {
	grid-template-columns: 1fr;
}

.wrapper:not(.readOnly) .label {
	cursor: pointer;
}

.input {
	border-radius: 0.5em;
	background-color: transparent;
	padding: 0.5em 1.33em;
	border: 1px solid #ced4da;
	outline: none;
	color: var(--primary-color);
}

.input:focus {
	border-color: var(--primary-color);
}

.input::placeholder {
	color: #bdc2c9;
}

.input:read-only {
	border: none;
	padding-left: 0;
}
