.select {
	position: relative;
}

.label {
	margin-right: 0.5em;
}

.btn {
	border: none;
	margin: 0;
	padding: 0;
	background: none;
}

.options {
	background-color: var(--code-bg);
	color: var(--primary-color);
	border-radius: 12px;
	list-style: none;
	box-shadow: 4px 4px 8px black;
}

.option {
	font-size: inherit;
}

.item {
	padding: 0.5em;
	display: flex;
	align-items: center;
	gap: 0.5em;
	transition: all 200ms ease-in;
	cursor: pointer;
}

.options > :last-child {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.options > :first-child {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.item.itemActive {
	background-color: var(--secondary-color);
	color: white;
}

.item.itemDisabled {
	opacity: 0.5;
}
