body[data-theme="bacterium"],
body.storybook-addon-themes.storybook-addon-themes-bacterium {
	--bg-color: #ccda57;
	--bg-color-inverted: #fafbf4;
	--primary-color: #fafbf4;
	--secondary-color: #d38736;
	--primary-color-inverted: #ccda57;
	--secondary-color-inverted: #d38736;

	/* skeleton */
	--skeleton-color: #d5dc9a;
	--skeleton-shadow: #d38736;

	/* code */
	--code-bg: #d5dc9a;
}
