body[data-theme="dark"] {
	--bg-color: #5e69ee;
	--bg-color-inverted: #f4f4fb;
	--primary-color: #f4f4fb;
	--secondary-color: #39afea;
	--primary-color-inverted: #5e69ee;
	--secondary-color-inverted: #39afea;
}
