.app.light {
  --bg-color: #e9e9ef;
  --bg-color-inverted: #002564;

  --primary-color: #0e40c5;
  --secondary-color: #3377ff;
  --primary-color-inverted: #09bd09;
  --secondary-color-inverted: #00e500;
}