.starRating {
	display: flex;
	grid-column-gap: 0.5em;
}

.star {
	cursor: pointer;
	transition: all 300ms ease-in;
	fill: var(--bg-color);
}

.rateSelected > .star {
	cursor: default;
}

.starSelected {
	fill: var(--primary-color);
}

.starHovered {
	fill: var(--secondary-color);
}
